<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is was created for node course exercise. It uses data from mapbox and weatherstack.</p>
        <img class="portrait" src="/img/sample.png">
    </div>
    
    {{>footer}}
</body>

</html>